@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #00ff41; /* Cyberpunk Green */
  --neon-purple: #bc13fe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-orbitron: var(--font-orbitron);
  --font-inter: var(--font-inter);
  
  --color-neon-green: #00ff41;
  --color-neon-purple: #bc13fe;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-orbitron), sans-serif;
  color: var(--neon-purple);
  text-shadow: 0 0 5px var(--neon-purple);
}

.neon-text {
  text-shadow: 0 0 5px currentColor;
}

.neon-border {
  box-shadow: 0 0 5px currentColor;
}
